[submodule "themes/pehtheme-hugo"]
	path = themes/pehtheme-hugo
	url = https://github.com/fauzanmy/pehtheme-hugo
[submodule "themes/up-business-theme"]
	path = themes/up-business-theme
	url = https://gitlab.com/writeonlyhugo/up-business-theme.git
