blockquote {
  margin: 1.25rem 2.5rem;
}
.section.video iframe {
  border-radius: 34px;
}
.section.services .card img {
  margin: auto;
  border-radius: 25px;
}

.blog-content h1 {
  padding-top: 20px;
  line-height: 1;
}

/* ref: https://markus.oberlehner.net/blog/simple-solution-for-anchor-links-behind-sticky-headers/ */
$sticky-breakpoint: 32em;
[id] {
  @media (min-height: $sticky-breakpoint) {
    scroll-margin-top: 100px; // 1
  }
}
